{% extends 'base.html' %}

{% block content %}
<h1>Editar Equipo</h1>
<form action="{{ url_for('equipos_bp.edit_equipo', id=equipo.id_equipo) }}" method="post">
    <label for="nombre_equipo">Nombre Equipo:</label>
    <input type="text" name="nombre_equipo" id="nombre_equipo" value="{{ equipo.nombre_equipo }}">
    <label for="fecha_creacion">Fecha Creación:</label>
    <input type="date" name="fecha_creacion" id="fecha_creacion" value="{{ equipo.fecha_creacion }}">
    <button type="submit">Guardar</button>
</form>
{% endblock %}