{% extends 'base.html' %}

{% block content %}
<h1>Añadir Jugador</h1>
<form action="{{ url_for('jugadores_bp.add_jugador') }}" method="post">
    <label for="DNI">DNI:</label>
    <input type="text" name="DNI" id="DNI">
    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre" id="nombre">
    <label for="apellido">Apellido:</label>
    <input type="text" name="apellido" id="apellido">
    <label for="fecha_nac">Fecha Nacimiento:</label>
    <input type="date" name="fecha_nac" id="fecha_nac">
    <label for="telefono">Teléfono:</label>
    <input type="text" name="telefono" id="telefono">
    <label for="correo">Correo:</label>
    <input type="email" name="correo" id="correo">
    <label for="id_equipo">Equipo:</label>
    <select name="id_equipo" id="id_equipo">
        {% for equipo in equipos %}
        <option value="{{ equipo.id_equipo }}">{{ equipo.nombre_equipo }}</option>
        {% endfor %}
    </select>
    <label for="id_categoria">Categoría:</label>
    <select name="id_categoria" id="id_categoria">
        {% for categoria in categorias %}
        <option value="{{ categoria.id_categoria }}">{{ categoria.nombre_categoria }}</option>
        {% endfor %}
    </select>
    <button type="submit">Añadir</button>
</form>
{% endblock %}